.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.inline-collapse {
  letter-spacing: -0.36em;
}
.inline-collapse > * {
  letter-spacing: normal;
}
.test-default .test-row-12 {
  letter-spacing: -0.36em;
  width: 961px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #ddd;
}
.test-default .test-row-12 > * {
  letter-spacing: normal;
}
.test-default .test-col {
  background-color: #eee;
  text-align: center;
  padding: 8px 0;
}
.test-default .test-col-1 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 60px;
  margin-right: 20px;
}
.test-default .test-col-2 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 140px;
  margin-right: 20px;
}
.test-default .test-col-3 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 220px;
  margin-right: 20px;
}
.test-default .test-col-4 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 300px;
  margin-right: 20px;
}
.test-default .test-col-5 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 380px;
  margin-right: 20px;
}
.test-default .test-col-6 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 460px;
  margin-right: 20px;
}
.test-default .test-col-7 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 540px;
  margin-right: 20px;
}
.test-default .test-col-8 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 620px;
  margin-right: 20px;
}
.test-default .test-col-9 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 700px;
  margin-right: 20px;
}
.test-default .test-col-10 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 780px;
  margin-right: 20px;
}
.test-default .test-col-11 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 860px;
  margin-right: 20px;
}
.test-default .test-col-12 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 940px;
  margin-right: 20px;
}
.test-float .test-row-12 {
  *zoom: 1;
  width: 961px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #ddd;
}
.test-float .test-row-12:before,
.test-float .test-row-12:after {
  display: table;
  content: "";
  line-height: 0;
}
.test-float .test-row-12:after {
  clear: both;
}
.test-float .test-col {
  background-color: #eee;
  text-align: center;
  padding: 8px 0;
}
.test-float .test-col-1 {
  float: left;
  width: 60px;
  margin-right: 20px;
}
.test-float .test-col-2 {
  float: left;
  width: 140px;
  margin-right: 20px;
}
.test-float .test-col-3 {
  float: left;
  width: 220px;
  margin-right: 20px;
}
.test-float .test-col-4 {
  float: left;
  width: 300px;
  margin-right: 20px;
}
.test-float .test-col-5 {
  float: left;
  width: 380px;
  margin-right: 20px;
}
.test-float .test-col-6 {
  float: left;
  width: 460px;
  margin-right: 20px;
}
.test-float .test-col-7 {
  float: left;
  width: 540px;
  margin-right: 20px;
}
.test-float .test-col-8 {
  float: left;
  width: 620px;
  margin-right: 20px;
}
.test-float .test-col-9 {
  float: left;
  width: 700px;
  margin-right: 20px;
}
.test-float .test-col-10 {
  float: left;
  width: 780px;
  margin-right: 20px;
}
.test-float .test-col-11 {
  float: left;
  width: 860px;
  margin-right: 20px;
}
.test-float .test-col-12 {
  float: left;
  width: 940px;
  margin-right: 20px;
}
